<footer class="bg-brand-500 text-white py-6 mt-20">
    <div class="container gap-6 md:gap-0 mx-auto px-6 flex flex-col md:flex-row justify-between items-center max-w-[1536px]">
        <!-- Sección de información -->
        <div class="flex flex-col items-center md:items-start text-center md:text-left">
            <h3 class="text-lg font-semibold">Más de nosotros</h3>
            <a href="preguntas.html" class="hover:underline">Preguntas Frecuentes</a>
            <a href="quienes-somos.html" class="hover:underline">Quiénes somos</a>
            <a href="aviso-de-privacidad.html" class="hover:underline">Aviso de Privacidad</a>
        </div>

        <!-- Separador en desktop -->
        <div class="hidden md:block w-[1px] h-16 bg-white"></div>

        <!-- Sección de contacto -->
        <div class="flex flex-col items-center md:items-start text-center md:text-left">
            <h3 class="text-lg font-semibold">Contacto</h3>
            <p>33 13 46 1938</p>
            
            <a href="mailto:contacto@sfconsultoria.com.mx" class="hover:underline">contacto@sfconsultoria.com.mx</a>
            <p>Fray Luis de Palacio # 377 Col. Ladrón de Guevara Guadalajara, Jalisco. C.P. 44650</p>
        </div>

        <!-- Separador en desktop -->
        <div class="hidden md:block w-[1px] h-16 bg-white"></div>

        <!-- Redes Sociales y Logo -->
        <div class="flex flex-col items-center">
            <img src="../src/assets/testimoniales/sfblanco.png" alt="SF Consultoría Fiscal" class="h-20 mb-3">
            <div class="flex space-x-4 text-2xl">
                <a href="https://linkedin.com" target="_blank" class="hover:text-gray-300">
                    <i class="ri-linkedin-box-fill"></i>
                </a>
                <a href="https://youtube.com" target="_blank" class="hover:text-gray-300">
                    <i class="ri-youtube-fill"></i>
                </a>
                <a href="https://wa.me/5213318167026" target="_blank" class="hover:text-gray-300">
                    <i class="ri-whatsapp-fill"></i>
                </a>
            </div>
            <p class="mt-2 text-sm">Derechos reservados | SF Consultoría 2024</p>
        </div>
    </div>
</footer>
