@import "tailwindcss";
@layer base {
    html {
      font-family: 'Lato', sans-serif;
    }
  }

@theme {
    --color-brand-500: #118597;
    --color-secondary-100: #DEE3F2;
    --color-brand-100: #E7F3F5;
    --color-secondary-500: #2142A6;
  }
  @keyframes scrollLogos {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @media (max-width: 768px) {
    .swiper-button-next, 
    .swiper-button-prev {
        display: none !important;
    }
}

  .logos-carousel {
    display: flex;
    white-space: nowrap;
    animation: scrollLogos 10s linear infinite;
  }
  
  .logos-carousel-wrapper {
    overflow: hidden;
  }
  
  .logos-carousel img {
    flex-shrink: 0; /* Evita que las imágenes se reduzcan */
  }
  

.button-primary{
    border-radius: 8px;
    background-color: #118597;
    min-height: 40px;
    justify-content:center;
    align-items: center;
    color:white;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
}
.p{
  font-size: 16px;
  text-align: justify;
}

